:root {
    --primary-color: #101828;
    --secondary-color: #EF9360;
    --tertiary-color: #FFF;
    --text-light: #98A2B3;
    --select: #1D2939;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: var(--tertiary-color);
}

.container {
    display: flex;
    width: 100%;
}

h2 {
    font-size: 20px;
    color: var(--primary-color);
}

.stats a {
    margin: 10px 0px 105px 60px;
    background-color: var(--primary-color);
    padding: 0px 20px 0px 20px;
    border-radius: 50px;
    text-decoration: none;
    color: var(--tertiary-color);
}

.main-content {
    flex: 1;
    padding: 20px;
}

.header {
    display: flex;
    height: 85px;
    padding: 15px;
    background: var(--tertiary-color);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header-right {
    display: flex;
    align-items: center;
}

.circle {
    width: 44px;
    height: 44px;
    align-content: center;
    margin: 0px 0px -35px -50px;
    border-radius: 33px;
    border: 1px solid var(--Primary-Light, #CACFDC);
}

.circle svg {
    margin: 9px 0 0 9px; 
}

.user-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
}

.title {
    flex: 1 1 0;
    justify-content: flex-start;
    align-items: center;
    gap: 220px;
    display: inline-flex
}

.school-list {
    color: #101828;
    line-height: 24px;
}

.search-bar {
    flex: 1 1 0;
    height: 32px;
    padding-left: 30px;
    padding-right: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 32px;
    border: 1px #667085 solid;
    justify-content: flex-start;
    align-items: center;
    display: flex
}

.schools select {
    border-radius: 20px;
    padding: 2px;
    text-align: center
}

.schools input[type="text"]:focus,
.schools select[id="type"]:focus {
    border-color: var(--select);
    outline: none;
}

.lens {
    position: absolute;
    margin: 310px;
}