* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #f4f4f9;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 250px;
    background-color: #fff;
    padding: 20px;
    border-right: 1px solid #ddd;
}

.logo img {
    width: 50px;
}

h2 {
    font-size: 20px;
    color: #1C2D53;
}

.table-section h2 {
    font-weight: 800;
}

.menu {
    display: flex;
    flex-direction: column;
}

.menu-item {
    padding: 20px;
    color: #9F9D9D;
    text-decoration: none;
    font-weight: 500;
    margin-bottom: 10px;
}

.menu-item svg {
    margin: 0 5px -5px 0;
}

.menu-item.active {
    background: #037CCC;
    color: #fff;
}

.menu-item:hover {
    background: #037cccb8;
    color: #fff;
}

.logout, .upgrade {
    width: 100%;
    padding: 20px;
    font-weight: 500;
    font-size: 15px;
    color: #ff4d4d;
    border: none;
    background: none;
    text-align: left;
    margin-top: auto;
    cursor: pointer;
}

.logout svg {
    margin: 0 5px -5px 0;
}

.upgrade {
    background-color: #ff4d4d;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    margin-top: 20px;
}

.upgrade:hover {
    opacity: .7
}

.main-content {
    flex: 1;
    padding: 20px;
}

.header {
    display: flex;
    height: 85px;
    padding: 15px;
    background: #FFF;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header-right {
    display: flex;
    align-items: center;
}

.circle {
    width: 44px;
    height: 44px;
    align-content: center;
    margin: 0px 0px -35px -50px;
    border-radius: 33px;
    border: 1px solid var(--Primary-Light, #CACFDC);
}

.circle svg {
    margin: 9px 0 0 9px; 
}

.user-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 10px;
}

.stats {
    display: flex;
    margin-bottom: 20px;
}

.stat-card {
    flex: 1;
    padding:  20px;
    background-color: #fff;
    border-radius: 8px;
    margin-right: 20px
}

.stat-card h2 {
    color: #1C2D53;
    margin: -65px 0px 0px 90px;
}

.stat-card a{
    color: #0070BA;
    margin: 0 0 0 90px;
    text-decoration: none
}

.stat-card_population {
    border-radius: 8px;
    background: #037CCC;
    padding: 15px 15px 15px;
    color: #fff
}

.total {
    color: #fff;
}

.pop {
    font-weight: 1000;
    font-size: 40px;
}

.stat-card_population p {
    margin: -35px 0px 0px 85px;
}

.icon-bg {
    display: flex;
    width: 75px;
    height: 75px;
    padding: 17px 18px 18px 17px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 8px;
}

#staff {
    background: rgba(0, 112, 186, 0.20);
}

#classes {
    background: #FFEACB;
}

#subject {
    background: #FFBFE5;
}

.stat-card span {
    color: #0070BA;
}

.population {
    background-color: #007bff;
    color: #fff;
}

.table-section {
    margin-bottom: 20px;
}

.teachers, .classes {
    padding: 20px 60px 0 10px;
    background: #fff;
    height: 70px;
    border-radius: 8px 8px 0 0;
}

.table-section h2 {
    display: inline-block;
    font-size: 25px;
}

.see-all {
    float: right;
    font-size: 18px;
    color: #007bff;
    text-decoration: none;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 20px;
    /*border-block: 1px solid #ddd;*/
    text-align: left;
    font-size: 14px;
    background: #FFF;
    color: #9F9D9D;
}

.table .row1:hover {
    background-color: #037CCC;
}

.table th {
    background-color: #fff;
    font-weight: 600;
    border: 0;
    color: #1c2d53;
}

.table td a {
    color: #007bff;
    text-decoration: none;
}
