.login-container {
    background-color: #ffffff;
    width: 400px;
    padding: 20px;
    margin-top: -80px;
    border-radius: 8px;
    border: solid 1px #6e6d6e8a;
}

.login-container h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
}

.login-container label {
    display: block;
    font-size: 0.9rem;
    color: #1f1f1f;
    margin-bottom: 5px;
}

.login-container input[type="text"],
.login-container input[type="email"],
.login-container input[type="password"],
.login-container input[type="repeat-password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.login-container input[type="text"]:focus,
.login-container input[type="email"]:focus,
.login-container input[type="password"]:focus {
    border-color: #007bff; 
    outline: none; 
}

.password-container {
    position: relative;
}

.password-container .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -6px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #270808;
}

.forgot-password, p {
    display: inline-block;
    margin-bottom: 18px;
    font-size: 0.8rem;
    color: #007bff;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

.login-button, .SignUp {
    width: 100%;
    padding: 10px;
    background-color: #0070BA;
    color: #ffffff;
    border: none;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button:hover {
    background-color: #0056b3;
}

.link {
    float: right;
    color: black;
    margin-right: 8px;
}

.link a {
    text-decoration: none;
    color: #007BFF;
}