:root {
    --primary-color: #101828;
    --secondary-color: #EF9360;
    --tertiary-color: #FFF;
    --text-light: #98A2B3;
    --select: #1D2939;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.otp-inputs {
    display: flex;
    justify-content: center;
    gap: 5px;
}

.otp-inputs input {
    width: 40px;
    height: 40px;
    margin: 5px;
    text-align: center;
    font-size: 18px;
}

#resend-btn {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: not-allowed;
}

#resend-btn:enabled {
    cursor: pointer;
    background-color: var(--primary-color);
}

#rror-message {
    text-align: center;
}

@media (max-width: 600px) {
    .otp-inputs {
        flex-direction: row;
        gap: 1px;
    }

    .otp-inputs input {
        width: 100%;
        max-width: 15%;
    }
}
